@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  /* GLOBAL STYLES */

  /* COLORS */
  --main-black: #232223;
  --main-grey: #d4d2cf;
  --main-white: #f8f9fa;
  --main-orange: #c56926;

  /* GRADIENTS */
  --main-gradient: linear-gradient(
    to right,
    #dfe7c6,
    #ff4da6,
    #ffd215,
    #ff8d10,
    #c9f553,
    #e2ecee
  );
  /* FONT-FAMILIES */
  --plain-font: Roboto, sans-serif;
  --fancy-font: Abril Fatface, cursive;
  --button-font: IBM Plex Mono, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
}
button:active {
  outline: none;
}
button:focus {
  outline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  padding: 10px;
  border-radius: 5px;
}

/* GLOBAL STYLES */
.button {
  padding: 10px 30px;
  border-radius: 5px;
  font-family: var(--button-font);
  background-color: var(--main-grey);
  cursor: pointer;
  border: none;
}
.gradientBorder {
  height: 3px;
  width: 100%;
  margin: auto auto 0 auto;
  background-image: var(--main-gradient);
}

/* .modal {
}

.modal-heading-container {
} */
